.filter__title {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   margin-right: 15px;
 }
 
 .filter__button {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   border: 1px solid #ffffff;
   border-radius: 60px;
   padding: 6px 20px;
 }
 
 .filter__button:not(:last-child) {
   margin-right: 10px;
 }
 ._btn-text:hover {
   border-color: #d9b6ff;
   color: #d9b6ff;
   cursor: pointer;
 }
 ._btn-text:active {
   border-color: #ad61ff;
   color: #ad61ff;
   cursor: pointer;
 }
 .filter_button-list {
  display: flex;
  flex-direction: column;
  position: relative
 }
 .filter_button-list ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  width: 150px;
  height: 100px;
  background-color: #383838;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 5px;
 }
 .list-genre,
 .list-year,
 .list-author,
 ::-webkit-scrollbar:vertical{
  overflow:scroll;
  color: #d9b6ff;
 }
 .list-el:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}